body {
    background-color: deepskyblue;
}

a {
    color: black;
    text-decoration: none;
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    text-align: center;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: lightgreen;
    padding: 15px 32px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

nav {
    border: 2px;
    border-style: initial;
    border-radius: 5px;
    background-color: lightgreen;
    list-style-type: none;
    margin-right: 1720px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

a{
    margin:5px;
}

a:hover{
    background-color:coral;
    margin-right: 1em;
    border-radius: 5px;
}

div {
    text-align:center;
}

form {
    border:solid;
    border-radius: 5px;
    border-color: blue;
    margin-left: 650px;
    margin-right: 650px;
    margin-top: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer iframe{
    flex-grow: 2;
}

.grid-container{
    display: grid;
    gap:2px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

@media (orientation:portrait) {
    body {
        background-color: deepskyblue;
    }
    
    a {
        color: black;
        text-decoration: none;
        font-size:large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    button {
        text-align: center;
        border: none;
        border-radius: 5px;
        color: black;
        background-color: lightgreen;
        padding: 15px 32px;
    }
    
    h1 {
        text-align: center;
        font-size: 60px;
    }
    
    nav {
        border: 2px;
        border-style: initial;
        border-radius: 5px;
        background-color: lightgreen;
        list-style-type: none;
        margin-right: 1720px;
        width: 100px;
        display: flex;
        flex-direction: column;
    }
    a:hover{
        background-color:coral;
        margin-right: 1em;
        border-radius: 5px;
    }
    
    a {
        margin: 5px;
    }
    
    div {
        text-align:center;
    }
    
    form {
        border:solid;
        border-radius: 5px;
        border-color: blue;
        margin:0;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer iframe{
        flex-grow: 2;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
    }
}