body {
    background-color: deepskyblue;
}

a {
    color: black;
    text-decoration: none;
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    text-align: center;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: lightgreen;
    padding: 15px 32px;
}
button:hover{
    background-color:coral;
}

nav {
    border: 2px;
    border-style: initial;
    border-radius: 5px;
    background-color: lightgreen;
    list-style-type: none;
    margin-right: 1720px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

a{
    margin: 5px;
}

a:hover{
    background-color:coral;
    margin-right: 1em;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 60px;
}
h3 {
    text-align: center;
    font-size: 40px;
}
img {
    border-radius: 5px;
    border: none;
    padding-top: 50px;
}

div {
    text-align:center;
}

.grid-container{
    display: grid;
    gap:2px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

#tekst1 {
    grid-area: 1/2/1/2;
}

#tekst2 {
    grid-area: 2/2/2/2;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer iframe{
    flex-grow: 2;
}

@media (orientation:portrait) {
    body {
        background-color: deepskyblue;
    }
    
    a {
        color: black;
        text-decoration: none;
        font-size:large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    button {
        text-align: center;
        border: none;
        border-radius: 5px;
        color: black;
        background-color: lightgreen;
        padding: 15px 32px;
    }
    
    ul {
        border: 2px;
        border-style: initial;
        border-radius: 5px;
        background-color: lightgreen;
        list-style-type: none;
        margin-right: 1720px;
    }
    
    li {
        margin: 5px;
    }
    
    li:hover{
        background-color:coral;
        margin-right: 40px;
        border-radius: 5px;
    }
    
    h1 {
        text-align: center;
        font-size: 60px;
    }
    h3 {
        text-align: center;
        font-size: 40px;
    }
    img {
        border-radius: 5px;
        border: none;
    }
    
    div {
        text-align:center;
    }
    
    .grid-container{
        display: flex;
        flex-direction: column;
    }
    
    #tekst1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    #tekst2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer iframe{
        flex-grow: 2;
    }
}