h1 {
    margin-left: 870px;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
    align-content: center;
    border: 2px;
    border-radius: 5px;
    background-color: forestgreen;
    margin-right: 1800px;
}
    
li {
    position: relative;
    padding: 1px;
    font-family: fantasy;
    font-size: 25px;
    display: block;
}

li.menu {
    position: relative;
    padding: 1px;
    font-family: fantasy;
    font-size: 50px;
    display: block;
}

li a:hover {
    background-color: lightseagreen;
    color: black;
    border-radius: 5px;

  }

a {
    color: black;
}

p {
    align-content: right;
    position: fixed;
    padding-left: 1780px;
    padding-top: 600px;
    color:orange;
}