div.grid-item {
    position: relative;
    align-content: center;
    padding-left: 700px;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    align-content: center;
    border: 2px;
    border-radius: 5px;
    background-color: forestgreen;
    margin-right: 1740px;
}
    
li {
    display: inline;
    margin-bottom: 5px;
    padding: 1px;
    font-family: fantasy;
    font-size: 35px;
    display: block;
    text-align: center;
}

li a:hover {
    background-color: lightseagreen;
    color: black;
    border-radius: 5px;
  }

a {
    color: black;
    text-decoration: none;
}

h5 {
    padding-top:150px;
    padding-left: 400px;
    font-size: medium;
}

img {
    width:700px;
    height:410px;
    padding-left: 130px;
}
