h1 {
    margin-left: 870px;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
    align-content: center;
    border: 2px;
    border-radius: 5px;
    background-color: forestgreen;
    margin-right: 1740px;
}
    
li {
    position: relative;
    padding: 1px;
    margin-bottom: 5px;
    font-family: fantasy;
    font-size: 35px;
    display: block;
    text-align: center;
}

li a:hover {
    background-color: lightseagreen;
    color: black;
    border-radius: 5px;

  }

a {
    color: black;
    text-decoration: none;
}

div {
    border: 5px;
    border-style:dotted;
    border-color: lightseagreen;
    border-radius: 6px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    align-content: center;
}

p {
    color: black;
    font-size: 25px;
    margin-left: 30px;
}